* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#h_m_s {
    margin: 0px auto;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.time_unit {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time_unit h2 {
    text-align: center;
}

.digit_display {
    width: 120px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time_numbers {
    font-size: 60px;
}

@media screen and (max-width: 430px) {
    #h_m_s {
        width: 95%;
        
    }
    .digit_display {
        width: 27vw;
        height: 70px;
    }
    .time_numbers{
        font-size: 45px;
    }
}
